<ion-header>
    <ion-navbar>
        <span
            class="signup-skip float-right reverse"
            *ngIf="skippable"
            (click)="createProfile()"
        >Skip</span>
    </ion-navbar>
</ion-header>

<ion-content class="bg-holiday--red">
    <ion-slides #SignupSlider [options]="options">
        <ion-slide>
            <SignupName></SignupName>
        </ion-slide>
        <ion-slide>
            <SignupAge [name]="name"></SignupAge>
        </ion-slide>
        <ion-slide>
            <SignupGender></SignupGender>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer padded class="bg-holiday--frame-green">

</ion-footer>
