.signup-page {

    ion-header {
        .toolbar-background {
            background: transparent;
            border: none;
        }
        .bar-button-default {
            color: #FFF;
        }

        &:after {
            display: none !important;
        }
        .signup-skip {
            font-size: 1.4rem;
            line-height: 3.2rem;
            margin: 0;
            padding: 0 1rem;
            @include AnimateFadeIn;
        }
    }

    .swiper-slide {
        align-items: flex-start;
    }

    .signup-note {
        margin-top: 2em;
        font-size: 1.2rem;
    }

}

.signup-container {
    padding-top: 6rem;
}

.form-signup {
    .item {
        background-color: transparent;
        .item-inner {
            padding: 0;
            border-color: #FFF;
        }
    }
    ion-label {
        color: #FFF;
        font-weight: 400;
        text-align: center;
        transition: all $speed $ease;
        transform: translate3d(0,225%,0) scale(1.6);
        transform-origin: center top;
    }
    input.text-input {
        color: #FFF;
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
    }
    .input-has-focus, .ng-dirty {
        .item-inner {
            box-shadow: none;
        }
        ion-label {
            color: #FFF;
            opacity: 0.75;
            transform: translate3d(0,0,0) scale(1);
        }
    }
}

// TODO: add flag for Flexbox support
.signup-gender--icons {

    padding: 1em 0 0;

    .signup-gender--icon, .signup-gender--or {
        display: flex;
        float: none;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .signup-gender--icon {
        padding: 0 0.5em;
    }
    .signup-gender--or {
        margin: 0 -0.5em;
        span {
            margin-top: -1em;
        }
    }

}

.signup-next {

    margin: 2em auto;
    cursor: pointer;
    @include AnimateFadeInUp;

    p {
        font-size: 1.2rem;
        font-weight: 100;
    }
}

//TODO: Create separate component
nextButton {
    $size: 4rem;
    $border: ($size / 15);
    display: block;
    width: $size;
    height: $size;
    border-radius: 50%;
    line-height: ($size - $border);
    background-color: transparent;
    border-width: $border;
    border-style: solid;
    border-color: #FFF;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    margin: 0em auto 0.25em;
    transition: all ($speed * 2) $ease;
    transform: translate3d(0, 0, 0);

    &:hover {

    }
}
