<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Profiles" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profiles-list bg-holiday--white">
    <ProfileHeader title="Profile Settings" [profile]="profile"></ProfileHeader>
</ion-content>
