// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

$sears-blue: #50B8E3;
$grey-medium: #969696;
$grey-light: #D8D8D8;
$grey-lightest: #F1F1F1;
$grey-warm: #bfbfbf;
$off-white: #EAE5DF;
$green: #5E9C41;
$green-dark: #4A6A1D;
$red: #C82431;
$red-dark: #76232F;

$primary: $green;

$trans_speed_default: 187.5ms;
$trans_ease_default: cubic-bezier(0.4, 0, 0.2, 1);
$ease: $trans_ease_default;
$speed: $trans_speed_default;
$ease-snap: cubic-bezier(0.175, 0.885, 0.32, 1.275);

@import "bootstrap";
@import "montserrat";
@import "mixins";
@import "typography";
@import "branding";
@import "layout";
@import "header";
@import "buttons";
@import "forms";
@import "loading/loaders";
@import "landing.scss";
@import "onboarding";
@import "../pages/loading/loading";
@import "../pages/signup/signup";
@import "../pages/profiles/profiles";
@import "../pages/list/product-list";
@import "../pages/product-details/product-details";
@import "../pages/send/send";
@import "../components/GenderIcon/GenderIcon";
@import "../components/LoadingIndicator/LoadingIndicator";
@import "../components/ProfileIcon/ProfileIcon";
@import "../components/ProductCard/ProductCard";
@import "../components/ProductCarousel/ProductCarousel";
@import "../components/SignupForm/SignupForm";
@import "../components/ProfileHeader/ProfileHeader";
