.bg-holiday--green {
    background-color: $green;
    background-image: url("../../img/branding/bg-holiday/green/holiday-pattern@2x.png");
    background-size: contain;
    background-position: center center;
}

.bg-holiday--white {
    background-color: #FFF;
    background-image: url("../../img/branding/bg-holiday/white/holiday-pattern@2x.jpg");
    background-size: contain;
    background-position: center center;
}

.bg-holiday--red {
    background-color: $red;
    background-image: url("../../img/branding/bg-holiday/red/holiday-pattern@2x.png");
    background-size: contain;
    background-position: center center;
}

.bg-holiday--frame {
    background-color: transparent;
    background-image: url("../../img/branding/frame-holiday/holiday-frame-medium.png");
    background-position: center center;
}

.bg-holiday--frame-green {
    background-color: transparent;
    background-image: url("../../img/branding/frame-holiday/holiday-frame-green@2x.png");
    background-position: center center;
}
