.form-clear {
    background: transparent;
    color: #FFF;

    ion-input {
        color: #FFF;
        font-weight: 700;
    }

    .item-input, .item-select, .item-datetime {
        background-color: transparent;
        padding-left: 0;

        .item-inner {
            border-color: #FFF;
        }

        ion-label, .select-text {
            color: #FFF;
            font-weight: 100;
            // margin: 1em auto;
        }
    }

    .text-input {
        text-align: center;
    }

    .button[type="submit"] {
        background-color: transparent;
        color: #FFF;
        border: 0.125rem solid #FFF;
        &:not([disabled]) {
            background-color: $green;
            border-color: $green-dark;
        }
    }

}

.form-group {
    ion-item:first-child input {
        margin-top: 0;
    }
}

.form-settings {

    padding: 2em 0;

    .item {
        background-color: transparent;
        .item-inner {
            border-bottom: none;
        }
    }

    .item-input ion-label,
    .item-select ion-label,
    .item-datetime ion-label, label {
        color: #000;
        font-size: 1.6rem;
    }

    input {
        background-color: #FFF;
        padding: 1rem;
        font-size: 16px;
    }

    .button[type="submit"] {
        margin-top: 1em;
    }
}

.button[type="submit"] {
    width: 100%;
}
