.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;

    .overlay-content {
        width: 100%;
    }
}

.page-loading {
    z-index: -1;
    opacity: 0;
    transition: all ($speed * 3) $ease;
    transition-delay: 2s;

    &.showing {
        opacity: 1;
        z-index: 50;
    }
}
