html, body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 10px;
}

body {
    font-size: 1em;
}

@media all and (min-width: 480px) {
    html {
        font-size: 12px;
    }
}

@media all and (min-width: 768px) {
    html {
        font-size: 13px;
    }
}

@media all and (min-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media all and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

p {
    color: inherit;
}

.reverse {
    color: #FFF;
}

.font-light, .text-light {
    font-weight: 200;
}
