productCarousel {

    display: block;
    width: 100%;
    padding: 1em 0;

    .carousel {

    }

    .carousel-inner > .item {
        padding: 0;
        background: transparent;
    }

    .carousel-inner img {
        margin: 0 auto;
    }

    .carousel-thumbnails {
        display: block;
        padding: 2rem;
        width: 100%;
        font-size: 0px;

        .carousel-thumbnail--container {
            display: inline-block;
            max-width: 7rem;
            padding: 0 0.5rem;

            .carousel-thumbnail {
                width: 100%;
                height: 0px;
                padding-bottom: 100%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                border: 0.125rem solid transparent;
            }

            &:hover, &.active {
                .carousel-thumbnail {
                    border-color: $grey-warm;
                }
            }
            &.active {
                .carousel-thumbnail {
                    border-color: $primary;
                }
            }

        }

    }

}
