<div class="product-card col-xs-6 col-md-4 col-lg-3" [ngClass]="{'selected': isSaved === true}">
    <div class="product-card--bucket responsive-bg--container text-center">
        <div class="product-card--thumb responsive-bg responsive-bg--fit"
             [ngStyle]="{'background-image': ' url(' +product.url + ')'}"></div>

        <div class="product-card--name hidden">
            {{product.name | translate}}
        </div>
    </div>
    <selectButton (click)="toggleSelected($event)">
        <div class="wrapper button-select--container">
            <selectCta class="button-select" [ngClass]="{'selected': isSaved === true}">
                <span class="select-cta--icon select-cta--icon-select" *ngIf="!isSaved">&#43;</span>
                <span class="select-cta--icon select-cta--icon-selected" *ngIf="isSaved">&#10003;</span>
            </selectCta>
        </div>
    </selectButton>
</div>
