.product-card {
    // margin: 15px 0;
    .product-card--bucket {
        background: #FFF;
        box-shadow: 0px 1px 0.5em rgba(0, 0, 0, 0.15);
        cursor: pointer;

        width: 100%;
        height: 0px;
        padding-bottom: 100%;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .product-card--thumb {
            border: 1em solid transparent;
            -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: scale(1);
            transition: all $speed $ease;
        }

    }

    .product-select {
        width: 100%;
    }
    selectButton {

        $btnSize: 4.5rem;
        $btnText: $btnSize / 2;
        $padding: 1rem;

        display: block;
        position: relative;
        margin: ((($btnSize /2) + $padding) * -1) auto 0;
        cursor: pointer;
        z-index: 2;

        .wrapper {
            padding: $padding 0;
        }

        selectCta {
            background-color: #FFF;
            @include ButtonCircularCTA($btnSize, $btnText);
        }

        &:hover, &:active {
            selectCta {
                transform: scale(1.2);
            }
        }

    }

}

.product-card--wish-list {

    .product-card:not(.selected) {
        .product-card--bucket {
            .product-card--thumb {
                opacity: 0.6;
                transform: scale(0.9);
            }
        }
        &:hover {
            .product-card--bucket {
                .product-card--thumb {
                    opacity: 0.8;
                    transform: scale(1);
                }
            }
        }
    }
}
