<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Email Settings" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg--grey-light">
    <settingsEmailForm></settingsEmailForm>
</ion-content>
