<div class="gender-icon--container" [ngClass]="{'selected': selected}">

    <!--Load default icons for scalable sizing-->
    <img class="visible-xs visible-sm gender-icon--base"
         src="img/icons/png/{{gender}}/default/{{gender}}@2x.png"
         alt="{{gender}}"/>
    <img class="visible-md visible-lg gender-icon--base"
         src="img/icons/png/{{gender}}/default/{{gender}}@3x.png"
         alt="{{gender}}"/>

    <!--Fade between selected / unselected icons based on state-->
    <!--If mobile performance poor, revert to hide/show from state-->
    <img class="visible-xs visible-sm gender-icon--state"
         [ngClass]="{'active': !selected}"
         src="img/icons/png/{{gender}}/unselected/{{gender}}@2x.png"
         alt="{{gender}}"/>
    <img class="visible-md visible-lg gender-icon--state"
         [ngClass]="{'active': !selected}"
         src="img/icons/png/{{gender}}/unselected/{{gender}}@3x.png"
         alt="{{gender}}"/>

    <img class="visible-xs visible-sm gender-icon--state"
         [ngClass]="{'active': selected}"
         src="img/icons/png/{{gender}}/selected/{{gender}}@2x.png"
         alt="{{gender}}"/>
    <img class="visible-md visible-lg gender-icon--state"
         [ngClass]="{'active': selected}"
         src="img/icons/png/{{gender}}/selected/{{gender}}@3x.png"
         alt="{{gender}}"/>

</div>

<p class="gender-icon--name">{{name}}</p>
