GenderIcon {

    .gender-icon--container {
        position: relative;
        transform: scale(0.95);
        transition: all ($speed * 3) $ease-snap;
    }

    .gender-icon--base {
        opacity: 0;
        position: relative;
    }

    .gender-icon--state {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: all ($speed * 4) $ease;

        &.active {
            opacity: 1;
            transition: all ($speed * 2) $ease;
        }

    }
    .gender-icon--name {
        display: block;
        flex: none;
        width: 100%;
        padding: 1rem 0 0;
        margin: 0 auto;
        font-size: 1.6rem;
    }

    .selected {

        transform: scale(1.05);

    }



}
