<form [formGroup]="signup"
      (submit)="handleSubmit($event)"
      #signupForm="ngForm">
    <ion-item>
        <ion-label stacked>{{"Name" | translate}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{"Email" | translate}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{"Age" | translate}}</ion-label>
        <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{"Gender" | translate}}</ion-label>
        <ion-select ngControl="gender">
            <ion-option value="" checked="true">{{"Neutral" | translate}}</ion-option>
            <ion-option value="M">{{"Male" | translate}}</ion-option>
            <ion-option value="F">{{"Female" | translate}}</ion-option>
        </ion-select>
    </ion-item>
    <button type="submit" [disabled]="!signup.valid">{{"Submit" | translate}}</button>
</form>
