.send-page {
  ion-content {
    color: #FFF;
  }
  .container {
    max-width: 48em;
  }
}

.list-sent--header {

  $glow: #609B46;

  padding-top: 15em;
  h1 {
    font-size: 5em;
    line-height: 1.1em;
    text-shadow: 0 0 1em $glow;
  }
}

.list-sent--footer {
  height: 10em;
  background-size: auto 100%;
  background-repeat: repeat-x;
  &:before {
    display: none;
  }
}

.list-sent--restart {
  padding: 2em 0 0;
  img, svg {
    display: block;
    margin: 0 auto;
    transform: translate3d(0,0,0);
    transition: all $speed $ease;
  }
  span {
    font-size: 1.5em;
    line-height: 1.6em;
  }
  &:hover {
    img, svg {
      transform: translate3d(0,-10%,0);
    }
  }
}
