<div class="container signup-container reverse text-center">
    <h5 class="text-light">{{"Required" | translate}}</h5>
    <h2>{{"What is the name for this profile?" | translate}}</h2>

    <form
        [formGroup]="signup"
        #signupForm="ngForm"
        class="form-signup">
        <ion-item>
            <ion-label stacked>{{"Name" | translate}}</ion-label>
            <ion-input
                type="text"
                formControlName="name">

            </ion-input>
        </ion-item>
    </form>

    <div class="signup-next" *ngIf="signup.valid" (click)="parentSliderNext()">
        <NextButton><span class="fa fa-chevron-right" aria-hidden="true">&#10095;</span></NextButton>
        <p>{{"Next" | translate}}</p>
    </div>

</div>
