<ion-menu [content]="menuContent">

    <ion-toolbar>
        <ion-title>{{"Pages" | translate}}</ion-title>
    </ion-toolbar>

    <ion-content>
        <ion-list>
            <!--<button ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title | translate}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #menuContent swipeBackEnabled="false"></ion-nav>
