ProfileIcon {
    display: block;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;

    .profile-icon--container {
        width: 12em;
        height: 12em;
        border-radius: 50%;
        border: 0.6em solid $grey-light;
        background: #FFF;
        overflow: hidden;
        margin: 1em auto;
    }

    .profile-icon--photo {
        background-color: #FFF;
        &.responsive-bg--fit {
            background-size: 80% auto;
            background-position: center center;
        }
    }
}
