<div class="button-select profile-icon--container responsive-bg--container">
    <div class="profile-icon--photo responsive-bg {{bg_class}}"
         [ngStyle]="{'background-image': ' url(' +profile.photo + ')'}">
    </div>
</div>
