<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Sears Wish Book" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="bg--grey-light">
    <div class="container">
        <div class="row">
            <ion-list class="products-list clearfix">
                <div ion-product *ngFor="let p of products; let i = index;">
                    <ProductCard [product]=p [isSaved]=p.inWishlist (click)="showProductDetail(p)"></ProductCard>
                </div>
            </ion-list>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)" threshold="30%">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer
    class="products-list--footer"
    [ngClass]="{'show':onscreen === true}"
>
    <div class="row">
        <div class="button-select--container" (click)="showWishList()">
            <div class="button-action button-big"><span>{{"See Your Wish List" | translate}}</span></div>
        </div>
    </div>
</ion-footer>
