.products-list {
    padding: 2em 1em;
}

.products-list--footer {
    transition: all ($speed * 2) $ease;
    transform: translate3d(0, 100%, 0);
    &.show {
        transform: translate3d(0, 0, 0);
    }
}

.list-page {
    scroll-content {
        margin-bottom: 0px !important;
    }
}
