<form [formGroup]="settingsEmail"
      (submit)="handleSubmit($event)"
      #settingsEmailForm="ngForm"
      class="form-settings">
    <ion-item>
        <ion-label stacked><strong>{{"Santa's Email" | translate}}</strong></ion-label>
        <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
    </ion-item>
    <div class="form-group form-repeating" formArrayName="helper_emails">
        <ion-item>
            <label stacked>
                <strong>{{"Santa's Helpers" | translate}}</strong>
            </label>
            <button class="float-right"
                    (click)="addHelper($event)">
                +
            </button>
        </ion-item>
        <div *ngFor="let helper_email of settingsEmail.controls.helper_emails.controls; let i=index">
            <div class="helper-email--wrapper" [formGroupName]="i">
                <ion-item>
                    <ion-label stacked class="hidden">{{"Santa's Helper Email" | translate}}</ion-label>
                    <ion-input type="email"
                               formControlName="helper_email"
                               placeholder="Santa's Helper Email"></ion-input>
                </ion-item>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!settingsEmail.valid">{{"Submit" | translate}}</button>
</form>
