ProfileHeader {
    display: block;
    .profile-header--inner {
        border-bottom: 1px solid $grey-light;
    }
    .profile-header--section {
        display: inline-block;
        margin: 0 0.5em;
        vertical-align: middle;
    }
    .profile-header--wishlist {
        width: 25%;
    }
    .profile-header--icon {
        max-width: 50%;
    }
    .profile-header--share {
        width: 25%;
    }
}
