<div class="profile-header--inner container text-center">
    <div class="row">
        <div class="profile-header--wishlist profile-header--section">
            <span>Wish List</span>
        </div>
        <div class="profile-header--icon  profile-header--section">
            <ProfileIcon [profile]="profile"></ProfileIcon>
        </div>
        <div class="profile-header--share profile-header--section">
            <span>Share</span>
        </div>
    </div>
    <h3>{{title}}</h3>
</div>
