//$loader-color: $grey-medium;
//$loader-size: 56px;
//$loader-height: 20px;
//$loader-border-size: 8px;
//$loader-gap: 12px;
//$loader-animation-duration: 1s;

$loader-color: $grey-medium;
$loader-size: 36px;
$loader-height: 20px;
$loader-border-size: 8px;
$loader-gap: 8px;
$loader-animation-duration: 1s;
