<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"Profiles" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profiles-list bg-holiday--red">
    <div class="container reverse text-center">
        <!--List profiles-->

        <div *ngFor="let profile of profiles;"
             class="col-xs-6 col-md-4 col-lg-3"
             (click)="showListPage(profile)">
            <ProfileIcon [profile]=profile></ProfileIcon>
            <p>{{profile.doc.name | translate}}</p>
        </div>

        <div
            [ngClass]="{'profiles-empty': profiles.length == 0, 'col-xs-6 col-md-4 col-lg-3': profiles.length > 0}"
            *ngIf="profiles.length < 8"
        >
            <div class="profiles-add"
                 (click)="showSignupPage()">
                <div class="wrapper text-center reverse button-select--container">
                    <h3 *ngIf="profiles.length == 0">{{"No profiles found" | translate}}</h3>

                    <SelectCTA class="button-select">
                        <span class="select-cta--icon">+</span>
                    </SelectCTA>

                    <p>{{"Add profile" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
