.profiles-empty {
    margin-top: 6em;
    .profiles-add {
        margin-top: 6em;

        .button-select--container {
            cursor: pointer;
        }

        SelectCTA {
            @include ButtonCircularCTA(12rem, 6rem);
            margin: 2em auto;
        }
    }
}

.profiles-list {

    SelectCTA, ProfileIcon .profile-icon--container {
        @include ButtonCircularCTA(12rem, 6rem);
        margin: 1em auto;
    }
}
