<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Sears Wish Book" | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="bg-holiday--white">

  <div class="wrapper">
    <div class="loading-content vertically-centered text-center">
      <div class="container">
        <!--<h2>Sears</h2>-->
        <!--<h3>Wish Book</h3>-->
        <!--<h4>2016</h4>-->
          <img src="img/branding/loader-lockup.png" alt="Sears Canada" />
        <LoadingIndicator></LoadingIndicator>
      </div>
    </div>
  </div>

</ion-content>
