LoadingIndicator {
    display: block;
    .loading-indicator {
        margin: 0 auto;
        &.loading-indicator--spin {
            @include loader02;
        }
        &.loading-indicator--grid {
            @include loader08;
            transform: translateY(-200%);
        }
    }
}
