<div class="onboarding-page container reverse text-center">

    <div class="">
        <div class="onboarding-hero">
            <div class="wrapper">
                <img src="img/onboarding/ob-4.png"/>
            </div>
        </div>
    </div>

    <div class="onboarding-nav">
        <ul>
            <li>
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
            <li>
                <a></a>
            </li>
            <li class="active">
                <a></a>
            </li>
        </ul>
    </div>

    <div class="onboarding-copy">
        <section>
            <h3 class="onboarding-copy--title">{{"Check it twice!" | translate}}</h3>
            <p>{{"Their carefully created wish list is done and they’ve sent it off to Santa, but he may need your
                help." | translate}}</p>
            <p>{{"Check your email for a special list, head over to Sears.ca and have a Merry Christmas!" | translate}}</p>
        </section>
    </div>

</div>
