<ion-header
    class="onboarding-header"
    [ngClass]="{'hiding':exiting === true}"
    (click)="showProfilesPage()">
    <img class="lockup onboarding-lockup"
         src="img/branding/onboard-lockup.png"
         alt='Sears'/>
</ion-header>

<ion-content class="bg-holiday--red" scroll="true">
    <ion-slides #OnboardingSlider (ionDidChange)="onSlideChanged()">
        <ion-slide>
            <OnboardingProfilePage></OnboardingProfilePage>
        </ion-slide>
        <ion-slide>
            <OnboardingEmailPage></OnboardingEmailPage>
        </ion-slide>
        <ion-slide>
            <OnboardingListPage></OnboardingListPage>
        </ion-slide>
        <ion-slide>
            <OnboardingCheckPage></OnboardingCheckPage>
            <!--<button Light (click)="showProfilesPage()">Get Started</button>-->
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer
    class="onboarding-footer bg-holiday--frame-green"
    [ngClass]="{'hiding':exiting === true}">
    <div class="container text-center">
        <div class="button-generic onboarding-next"
             *ngIf="!complete"
             (click)="slideNext()">
            <span class="reverse button-big">
                <strong>{{"NEXT" | translate}}</strong>
            </span>
        </div>
        <div class="button-generic onboarding-submit"
             *ngIf="complete"
             (click)="showProfilesPage()">
            <span class="reverse button-big">
                <strong>{{"GET STARTED" | translate}}</strong>
            </span>
        </div>
    </div>
</ion-footer>
