<!--<ion-header>-->
<!--<ion-navbar>-->
<!--<button menuToggle *ngIf="!selectedProduct">-->
<!--<ion-icon name="menu"></ion-icon>-->
<!--</button>-->
<!--<ion-title>Product Details</ion-title>-->
<!--</ion-navbar>-->
<!--</ion-header>-->

<div class="product-details--container"
     [ngClass]="{'exiting':exiting === true}">
    <ion-content class="product-details-content">
        <div *ngIf="product" class="product-details text-center">
            <div class="container">

                <div class="product-details--close" (click)="closeDetails()">
                    <div class="button-close button-remove">
                        <span>X</span>
                    </div>
                </div>

                <ProductCarousel [product]=product></ProductCarousel>

                <div class="product-details--copy">
                    <h3>{{product.name | translate}}</h3>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer>
        <div class="product-details--cta button-select--container text-center"
             *ngIf="!wishListToggle">
            <selectCta class="button-select"
                       [ngClass]="{'selected': isSaved === true}"
                       (click)="toggleSelected($event)">
                <span class="select-cta--icon select-cta--icon-select" *ngIf="!isSaved">&#43;</span>
                <span class="select-cta--icon select-cta--icon-selected" *ngIf="isSaved">&#10003;</span>
            </selectCta>
            <p class="product-details--cta-prompt font-light" *ngIf="!isSaved">{{"Add to wishlist" | translate}}</p>
            <p class="product-details--cta-prompt font-light" *ngIf="isSaved">{{"Added to wishlist!" | translate}}</p>
        </div>

        <!--TODO - Convert to components, swap in ADD or ADD/REMOVE depending on Products List or Wish List origin-->
        <div class="product-details--cta product-details--cta-toggle text-center" *ngIf="wishListToggle">
            <div class="container">
                <div class="row">
                    <div class="col-centered col-xs-9 col-sm-8 col-md-7 col-lg-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <selectCta class="button-select"
                                           [ngClass]="{'selected': isSaved === true}"
                                           (click)="toggleSelected($event)">
                                    <span class="select-cta--icon select-cta--icon-select" *ngIf="!isSaved">&#43;</span>
                                    <span class="select-cta--icon select-cta--icon-selected"
                                          *ngIf="isSaved">&#10003;</span>
                                </selectCta>
                                <p class="product-details--cta-prompt font-light"
                                   [ngClass]="{'hiding': isSaved == true}">
                                    {{"Add to wishlist" | translate}}
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <removeCta class="button-remove"
                                           [ngClass]="{'selected': isSaved == false}"
                                           (click)="toggleSelected($event)">
                                    <span class="select-cta--icon select-cta--icon-remove">X</span>
                                </removeCta>
                                <p class="product-details--cta-prompt font-light"
                                   [ngClass]="{'hiding': isSaved !== true}">
                                    {{"Remove?" | translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-footer>
</div>
