.product-details-page {

    .container {
        max-width: 48em;
    }

    ion-footer {
        &::before {
            display: none !important;
        }
    }
}

.product-details--container {
    width: 100%;
    height: 100%;
    //background: #000;
    background: rgba(darken($green-dark, 20%), 0.67);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    //transition: all $speed $ease;
    //&.exiting {
    //    background-color: transparent;
    //}
}

.product-details-content {
    width: 90%;
    left: 5%;
    max-height: 90%;
    box-shadow: 0 0 2em rgba(#FFF, 0.4);
}

.product-details {
    .container {
        padding: 2em;
        position: relative;
    }

    .product-details--close {

        $touch-padding: 1rem;

        position: absolute;
        top: 0;
        right: 0;
        padding: $touch-padding;
        color: $grey-medium;
        z-index: 3;

    }

    .product-details--copy {
        padding: 0 0 2em;
    }

    .product-details,
    .product-details > .container {
        min-height: 100%;
    }

}

.product-details--cta {

    selectCTA,
    removeCTA {
        @include ButtonCircularCTA(9rem, 4.5rem);
        $btnSpeed: ($speed * 3);
        transform: scale(1);
        transition: all ($speed * 1.5) $ease, transform $btnSpeed $ease-snap;

        &:not(.selected) {
            background-color: #FFF;
        }
    }

    .product-details--cta-prompt {
        padding: 1rem 0 0em;
        opacity: 1;
        cursor: pointer;
        position: relative;
        z-index: 0;
        color: #FFF;
        transition: opacity $speed $ease;

        &.hiding {
            opacity: 0;
        }
    }

    &.product-details--cta-toggle {

        selectCTA,
        removeCTA {
            @include ButtonCircularCTA(4rem, 2rem);
            &.selected {
                transform: scale(2);
            }
        }

        .product-details--cta-prompt {
            font-size: 75%;
        }

    }
}

