<div class="container signup-container reverse text-center">
    <h5 class="text-light">Optional</h5>
    <h2>How old is {{name}}?</h2>

    <form
        [formGroup]="signup"
        #signupForm="ngForm"
        class="form-signup">
        <ion-item>
            <ion-label stacked>Age</ion-label>
            <ion-input
                type="number"
                min="1"
                max="99"
                formControlName="age">

            </ion-input>
        </ion-item>
    </form>

    <p class="signup-note faded">This info helps personalize items in the catalogue</p>

    <div class="signup-next"
         *ngIf="signup.valid"
         (click)="parentSliderNext()">
        <NextButton><span class="fa fa-chevron-right" aria-hidden="true">&#10095;</span></NextButton>
        <p>Next</p>
    </div>

</div>
