<div class="container signup-container reverse text-center">
    <h5 class="text-light">Optional</h5>
    <h2>Are they a</h2>

    <div class="signup-gender--icons">
        <div class="wrapper">
            <div class="row flex flex-center">
                <div class="signup-gender--icon col-xs-5">
                    <GenderIcon
                        [gender]="genders[0]"
                        [selected]="gender === genders[0]"
                        (click)="selectGender(genders[0])"
                    ></GenderIcon>
                </div>

                <div class="signup-gender--or col-xs-2 no-padding">
                    <span><strong>or</strong></span>
                </div>

                <div class="signup-gender--icon col-xs-5">
                    <GenderIcon
                        [gender]="genders[1]"
                        [selected]="gender === genders[1]"
                        (click)="selectGender(genders[1])"
                    ></GenderIcon>
                </div>
            </div>
        </div>
    </div>

    <p class="signup-note faded">This info helps personalize items in the catalogue</p>

    <!--<form-->
    <!--[formGroup]="signup"-->
    <!--#signupForm="ngForm"-->
    <!--class="form-signup">-->
    <!--<ion-item>-->
    <!--<ion-label stacked>Age</ion-label>-->
    <!--<ion-input-->
    <!--type="number"-->
    <!--min="1"-->
    <!--max="99"-->
    <!--formControlName="age">-->

    <!--</ion-input>-->
    <!--</ion-item>-->
    <!--</form>-->

    <div class="signup-next" (click)="parentSliderNext()">
        <NextButton><span class="fa fa-chevron-right" aria-hidden="true">&#10095;</span></NextButton>
        <p>Next</p>
    </div>

</div>
