<div class="product-details--cta">
    <div class="container">
        <div class="row">
            <div class="col-centered col-xs-9 col-sm-8 col-md-7 col-lg-6">
                <div class="row">
                    <div class="col-xs-6">
                        <selectCta class="button-select"
                                   [ngClass]="{'selected': isSaved === true}"
                                   (click)="toggleSelected($event)">
                            <span class="select-cta--icon select-cta--icon-select" *ngIf="!isSaved">&#43;</span>
                            <span class="select-cta--icon select-cta--icon-selected" *ngIf="isSaved">&#10003;</span>
                        </selectCta>
                        <p class="product-details--cta-prompt font-light"
                           [ngClass]="{'hiding': isSaved == true}">
                            {{"Add to Wishlist" | translate}}
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <removeCta class="button-remove"
                                   [ngClass]="{'selected': isSaved == false}"
                                   (click)="toggleSelected($event)">
                            <span class="select-cta--icon select-cta--icon-remove">X</span>
                        </removeCta>
                        <p class="product-details--cta-prompt font-light"
                           [ngClass]="{'hiding': isSaved !== true}">
                            {{"Remove?" | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
